<div class="container">
    <h2>Crear Usuario Root</h2>
    <form (ngSubmit)="onSubmit()" #userForm="ngForm">
      <div class="form-group">
        <label for="username">Usuario:</label>
        <input type="text" id="username" name="username" required [(ngModel)]="user.User" />
      </div>
      <div class="form-group">
        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password" required [(ngModel)]="user.Password" />
      </div>
      <button type="submit" [disabled]="userForm.invalid">Crear Usuario</button>
      <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
      <div *ngIf="successMessage" class="success">{{ successMessage }}</div>
    </form>
  </div>
  