<div class="sidebar">
  <h2>Auditor</h2>
    <img src="https://via.placeholder.com/80" alt="User Profile" class="profile-pic">
    <nav>
      <ul>
        <li class="active"><a routerLink="/dashboard"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
        <li><a routerLink="/dashboard/transactions"><i class="fas fa-exchange-alt"></i> Transacciones</a></li>       
        <li><a routerLink="/dashboard/reports"><i class="fas fa-chart-bar"></i> Análisis y Reportes</a></li>
        <li><a routerLink="/dashboard/settings"><i class="fas fa-cogs"></i> Configuración</a></li>
      </ul>
    </nav>
    <button class="logout" (click)="logout()"><i class="fas fa-sign-out-alt"></i> Logout</button>
  </div>
  