<div class="ml-64 flex-1 p-8">
  <div class="p-6 bg-gray-900 rounded-lg shadow-lg">
    <h2 class="text-white text-xl font-bold mb-4">📊 Transacciones</h2>
  
    <!-- Filtros -->
    <div class="flex justify-between items-center mb-4">
      <!-- Búsqueda por ID -->
      <input
        type="text"
        pInputText
        placeholder="Buscar por ID"
        class="p-2 rounded w-64 bg-gray-800 text-white border border-gray-600"
        (input)="searchById($any($event.target).value)"
      />

      <!-- Filtro por estatus -->
      <p-dropdown
        [options]="statusOptions"
        placeholder="Filtrar por estatus"
        class="w-64 ml-4"
        (onChange)="filterByStatus($event.value)"
      ></p-dropdown>

      <!-- Filtro por monto -->
      <p-inputNumber
        placeholder="Buscar por monto"
        class="w-64 ml-4"
        mode="decimal"
        (onInput)="filterByAmount(+($event.value ?? 0))"
      ></p-inputNumber>

      <!-- Filtro por fecha -->
      <p-calendar
        placeholder="Fecha inicial"
        class="w-64 ml-4"
        [showIcon]="true"
        (onSelect)="filterByDate($event, endDate.value)"
        #startDate
      ></p-calendar>

      <p-calendar
        placeholder="Fecha final"
        class="w-64 ml-4"
        [showIcon]="true"
        (onSelect)="filterByDate(startDate.value, $event)"
        #endDate
      ></p-calendar>
    </div>
  
    <p-table [value]="transactions" class="p-datatable p-datatable-striped">
      <ng-template pTemplate="header">
        <div *ngIf="transactions.length === 0" class="text-white text-center py-4">
          No hay transacciones que coincidan con los criterios de búsqueda.
        </div>
        <tr>
          <th>ID</th>
          <th>Estado</th>
          <th>Fecha</th>
          <th>Método de Pago</th>
          <th>Estudiante</th>
          <th>Curso</th>
          <th>Monto</th>
          <th>Validado Por</th>
        </tr>
      </ng-template>
      
      <ng-template pTemplate="body" let-transaction>
        <tr>
          <td>{{ transaction.id }}</td>
          <td>
            <p-tag [severity]="getSeverity(transaction.status)" [value]="transaction.status" />
          </td>
          <td>{{ transaction.createdAt }}</td>
          <td>{{ transaction.paymentMethod }}</td>
          <td>{{ transaction.student }}</td>
          <td>{{ transaction.course }}</td>
          <td>{{ transaction.amount }}</td>
          <td>{{ transaction.validatedBy }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>  
</div>

