<div class="container">
    <div class="form-card">
        <h2>Cambiar Contraseña</h2>
        <form [formGroup]="passwordForm" (ngSubmit)="changePassword()">
            <label for="oldPassword">Contraseña Anterior</label>
            <input type="password" id="oldPassword" formControlName="oldPassword" required>

            <label for="newPassword">Nueva Contraseña</label>
            <input type="password" id="newPassword" formControlName="newPassword" required>

            <label for="confirmPassword">Confirmar Nueva Contraseña</label>
            <input type="password" id="confirmPassword" formControlName="confirmPassword" required>

            <button type="submit" [disabled]="passwordForm.invalid">Actualizar Contraseña</button>
        </form>
    </div>
</div>
