<div class="ml-64 flex-1 p-8">
    <p-toast></p-toast>
    <p-confirmDialog></p-confirmDialog>
    <div class="flex justify-between items-center">
    
        
        <p-iconfield iconPosition="left">
            <p-inputicon styleClass="pi pi-search" />
            <input type="text" pInputText placeholder="Buscar usuario"
                [(ngModel)]="searchQuery" (input)="filterUsers()"
                class="p-2 border w-3xl pl-5"/>
        </p-iconfield>
    
        <p-button label="Agregar Usuario" icon="pi pi-user-plus"
            class="p-button-success"
            (click)="showCreateDialog()">
        </p-button>
    </div>
        <p-table #dt [value]="filteredUsers" [paginator]="true" [rows]="9" [responsiveLayout]="'scroll'" class="custom-table">
        <ng-template pTemplate="header">
            <tr>
                <th>Usuario</th>
                <th>Creado</th>
                <th>Actualizado</th>
                <th>Opciones</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
            <tr>
                <td>{{ user.name }}</td>
                <td>{{ user.created_at | date:'short' }}</td>
                <td>{{ user.updated_at | date:'short' }}</td>
                <td>
                    <button class="p-button p-button-sm p-button-warning" (click)="editUser(user)">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
                        </svg>                          
                    </button>
                    <button class="p-button p-button-sm p-button-danger"  (click)="confirmDeleteUser(user)">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m20.25 7.5-.625 10.632a2.25 2.25 0 0 1-2.247 2.118H6.622a2.25 2.25 0 0 1-2.247-2.118L3.75 7.5m6 4.125 2.25 2.25m0 0 2.25 2.25M12 13.875l2.25-2.25M12 13.875l-2.25 2.25M3.375 7.5h17.25c.621 0 1.125-.504 1.125-1.125v-1.5c0-.621-.504-1.125-1.125-1.125H3.375c-.621 0-1.125.504-1.125 1.125v1.5c0 .621.504 1.125 1.125 1.125Z" />
                        </svg>
                    </button>
                    
                </td>
            </tr>
        </ng-template>
    </p-table>
    
    <!-- Diálogo Editar Usuario -->
    <p-dialog header="Editar Usuario" [(visible)]="editDialog" [modal]="true" [style]="{ width: '30rem' }">
        <form [formGroup]="editUserForm" (ngSubmit)="updateUser()">
            <div class="mb-3">
                <label for="password">Nueva Contraseña</label>
                <input pInputText id="password" type="password" formControlName="password" class="w-full" />
            </div>
            <div class="flex justify-end gap-2">
                <p-button label="Cancelar" severity="secondary" (click)="editDialog = false" />
                <p-button label="Guardar" type="submit" />
            </div>
        </form>
    </p-dialog>

    <!-- Diálogo Crear Usuario -->
    <p-dialog header="Crear Usuario" [(visible)]="createDialog" [modal]="true" [style]="{ width: '30rem' }">
        <form [formGroup]="createUserForm" (ngSubmit)="createUser()">
            <div class="mb-3">
                <label for="username">Usuario</label>
                <input pInputText id="username" type="text" formControlName="user" class="w-full" />
            </div>
            <div class="mb-3">
                <label for="password">Contraseña</label>
                <input pInputText id="password" type="password" formControlName="password" class="w-full" />
            </div>
            <div class="flex justify-end gap-2">
                <p-button label="Cancelar" severity="secondary" (click)="createDialog = false" />
                <p-button label="Crear" type="submit" />
            </div>
        </form>
    </p-dialog>    
</div>
