@import "tailwindcss";
@import "tailwindcss-primeui";
@import "primeflex/primeflex.css";

body{
    margin: 0;
    background: #e6e5e0;
    font-family: var(--font-family);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.error-message {
    color: red;
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
  }
  
  .success-message {
    color: green;
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
  }
  