@import url('/assets/fonts/primeicons.css');
@import 'ngx-toastr/toastr.css';
@import "tailwindcss";
@import 'primeicons/primeicons.css';


body{
    margin: 0;
    background: #e6e5e0;
}
.error-message {
    color: red;
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
  }
  
  .success-message {
    color: green;
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
  }
  