<div class="login-container">
  <div class="login-box">
    <div class="logo">
      <img src="assets/logo.png" alt="Logo">
    </div>
    <h2>Configuración Inicial</h2>
    <p>Crea el usuario root para acceder al sistema.</p>
    <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
    <p *ngIf="successMessage" class="success">{{ successMessage }}</p>
    <form (ngSubmit)="createRootUser()" #setupForm="ngForm">
      <div class="input-group">
        <i class="fas fa-envelope"></i>
        <input 
          placeholder="Usuario" 
          required 
          [(ngModel)]="users.user" 
          name="user"
        />
      </div>

      <!-- Contraseña -->
      <div class="input-group">
        <i class="fas fa-lock"></i>
        <input 
          type="password" 
          placeholder="Contraseña" 
          required 
          [(ngModel)]="users.password" 
          name="password"
        />
      </div>
      <button type="submit">Crear usuario root</button>

    </form>
  </div>
</div>
